<!-- <div>
  <nav>
    <a href="/customers" class="button">Customer Dashboard</a>
    <a href="/products" class="button">Product Dashboard</a>
    <a href="/User" class="button">Users Dashboard</a>
  </nav>
</div> -->

<!-- <div class="jumbo">
  <h4>I am a Home component</h4>
  <button class="button">Explore More....</button>
  <p>Storybook is one of the best open-source Angular projects that allows teams to make UI (user interface) components for React.js, Vue, and Angular. Furthermore, support for React Native, a cross-platform framework, has been added recently.

    This development environment runs outside of the application, which enables specialists to easily reuse various components. Employing this tool, you don’t have to worry about software-specific dependencies. As a consequence, you significantly reduce the time for creating and testing a digital product.</p>
</div> -->

<router-outlet></router-outlet>
<!-- <app-navbar></app-navbar>
<app-bootnavbar></app-bootnavbar> -->

